@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.html'); /* IE9*/
  src: url('../fonts/iconfont.html') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont-2.html') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont-3.html') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont-4.html') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiantou:before { content: "\e604"; }